In [2]:
import pandas as pd

In [7]:
consumption = pd.read_csv('Coffee_domestic_consumption.csv')
df_production = pd.read_csv('Coffee_production.csv')
consumption.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [8]:
consumption.shape

(55, 33)

In [15]:
#Let's combine the df of production and domestic consumption
combined_prod_consump_df = df_production.merge(consumption, on='Country')
selected_columns = ['Country', 'Total_production', 'Total_domestic_consumption']
result_total_prod_and_consump_df = combined_prod_consump_df[selected_columns]

In [16]:
result_total_prod_and_consump_df.head()

,Country,Total_production,Total_domestic_consumption
0,Angola,8.208000e+07,46500000
1,Bolivia (Plurinational State of),2.070000e+08,75180000
2,Brazil,7.508298e+10,27824700000
3,Burundi,6.236400e+08,3412020
4,Ecuador,1.900380e+09,381540000

In [21]:
#What is the percentage locally consumed vs the total production
percent_consumed_over_produced = result_total_prod_and_consump_df['Total_domestic_consumption']/ result_total_prod_and_consump_df['Total_production']
percent_consumed_over_produced

0     0.566520
1     0.363188
2     0.370586
3     0.005471
4     0.200770
5     0.319410
6     0.563053
7     0.028446
8     0.002001
9     0.564127
10    0.075598
11    0.003771
12    0.004283
13    0.065062
14    0.776817
15    1.069178
16    0.706757
17    0.859375
18    3.151768
19    0.051825
20    0.012916
21    0.105584
22    0.134738
23    0.117451
24    0.184985
25    0.086163
26    0.342391
27    0.147911
28    0.000000
29    0.523275
30    0.415978
31    0.156626
32    0.084164
33    0.179766
34    0.852133
35    0.070713
36    0.254610
37    0.346074
38    0.053831
39    0.278095
40    0.580645
41    0.406144
42    0.000000
43    0.109007
44    0.863736
45    0.437458
46    0.115623
47    0.789331
48    0.745878
49    0.007703
50    0.819347
51    0.048115
52    1.197356
53    0.066692
54    0.637021
dtype: float64